.contact {
  margin-left: auto;
  display: flex;
  gap: 30px;
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-color-txt);
    display: flex;
    align-items: center;

    transition: color var(--anime-time-cubic);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color-txt);
  }

  &__icon {
    margin-right: 10px;
    fill: var(--main-color-txt);
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: currentColor;
  }
}
