.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--accent-color-txt);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-icon-burger {
  transition: 500ms;
  fill: currentColor;

  .mobile-menu-btn.is-open & {
    opacity: 0;
  }
}

.mobile-icon-close {
  transition: 500ms;

  fill: currentColor;

  width: 19px;
  height: 19px;
  opacity: 0;
  .mobile-menu-btn.is-open & {
    opacity: 1;
  }
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 40px 48px;

  background: #fff;

  transform: translateX(100%);

  transition: transform 500ms;

  display: flex;
  flex-direction: column;
  &__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__nav-list {
    margin-bottom: auto;
  }

  &__nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--second-color-txt);
  }
  &-nav__link--current {
    color: var(--accent-color-txt);
  }

  &__contact-list {
    margin-bottom: 64px;
  }

  &__contact-link {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(27 / 24);
    letter-spacing: 0.02em;
    color: var(--main-color-txt);
  }

  &__contact-item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: var(--accent-color-txt);
  }

  &__social-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }

  &__social-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color-txt);
}
