.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms linear;
  &__desc {
    @include fonts(400, 18px, 28px, 0.03em);

    color: var(--white-color-txt);
  }
}
