body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #757575;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;

  height: auto;
}
