/* Змінні старт  */
:root {
  /* fonts */
  --main-font: 'roboto';
  --logo-font: 'Raleway';
  /* text colors */
  --black-color-txt: #000000;
  --accent-color-txt: #2196f3;
  --main-color-txt: #757575;
  --white-color-txt: #ffffff;
  --second-color-txt: #212121;
  /* bg colors */
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  /* others */
  --gradient-hero: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --anime-time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Змінні стоп */
