.hero {
  background-image: linear-gradient(var(--gradient-hero), var(--gradient-hero)),
    url('../images/webstudio/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  max-width: 1600px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    width: 360px;
    padding-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: calc(60 / 44);
      width: 696px;
    }
  }
}
